/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.plyr {
  --plyr-color-main: #c8102e;
  --plyr-video-control-background-hover: #c8102e;
}

.hero-img-padding {
  top: calc(100vw * 0.4 + 64px);
}

@media only screen and (min-width: 1920px) {
  .hero-img-padding {
    top: 60vh;
  }
}
